{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">

		<title>Fast Parcel</title>

		{# Load the tag library #}
		{% load bootstrap5 %}

		{# Load CSS and JavaScript#}
		{% bootstrap_css %}
		{% bootstrap_javascript %}

		{# Display django.contrib.messages as Bootstrap alerts #}
		{% bootstrap_messages %}

        {% block head %}
        {% endblock %}

	</head>
	<body>

		<nav class="navbar {% if not request.user.is_authenticated %} navbar-expand-lg {% endif %} navbar-light bg-warning">
			<div class="container">
				<a class="navbar-brand text-white" href="/"><img src="{% static 'images/fastparcel-white.png' %}" alt="Fast Parcel Logo" width="50">Fast Parcel</a>

				{% if not request.user.is_authenticated %}
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
					<li class="nav-item {% if request.GET.next != '/courier/' %}active{% endif %}">
					<a class="nav-link active" aria-current="page" href="/sign-in/?next=/customer/">Customer</a>
					</li>
					<li class="nav-item {% if request.GET.next == '/courier/' %}active{% endif %}">
					<a class="nav-link active" aria-current="page" href="/sign-in/?next=/courier/">Courier</a>
					</li>
				</ul>
				</div>
				{% else %}
				<form class="form-inline">
					<span class="mx-4">Hi, {{ request.user.first_name | title }}</span>
					<a href="/sign-out" class="btn btn-outline-dark">Sign Out</a>
				</form>
				{% endif %}
			</div>
		</nav>

        {% block content %}
        {% endblock %}

		<footer class="text-center mt-5 mb-5">
			<p>&copy; 2022 Fast Parcel | All Rights Reserved.</p>
		</footer>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.js"></script>
	  <link rel="stylesheet" href="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.css">

	 <script>
			 function toast(message, type) {
					 bootoast.toast({
							 position: 'leftBottom',
							 message,
							 type,
							 animationDuration: 300,
					 });
			 }

			 {% if messages %}
			 {% for message in messages %}
			 toast('{{ message }}', '{{ message.tags }}');
			 {% endfor %}
			 {% endif %}
	 </script>

	</body>
</html>
