{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center text-uppercase mb-3">
            {% if request.GET.next != '/courier/' %}
            Customer
            {% else %}
            Courier
            {% endif %}
          </h4>
          <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-warning btn-block">Sign Up</button>
            <p class="text-center mt-3">
              Already have an account? <a href="/sign-in/?next={{ request.GET.next }}"><b>Sign In</b></a>
            </p>
            <hr>
            <div class="text-center">
              <a href="{% url 'social:begin' 'facebook' %}?next={{ request.GET.next }}" class="btn btn-outline-primary btn-block">SignIn with Facebook</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
